    .header {
        display: flex;
        height: 50px;
        justify-content: flex-start;
        background-image: url(../img/logo.png);
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 130px;
        margin-left: 45px;
        margin-top: 25px;
    }