.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    font-family: $font-family-open;
    line-height: 25px;
}

.subtitulo {
    font-size: $font-size-xx-large;
}

.titulo {
    font-family: $font-family-playfair;
    font-size: $font-size-xxx-extra-large;
    font-weight: 700;
    p {
        margin: 50px;
    }
}

.buttons {
    margin-top: 45px;
}